$font-xl: 700 normal 32px/39.01px "Montserrat", sans-serif;
$font-l: 600 normal 16px/22.4px "Montserrat", sans-serif;
$font-m: 400 normal 16px/19.5px "Montserrat", sans-serif;
$font-s: 400 normal 14px/17.07px "Montserrat", sans-serif;

.font-xl {
  font: $font-xl;
}

.font-l {
  font: $font-l;
}

.font-m {
  font: $font-m;
}

.font-s {
  font: $font-s;
}
