.container {
  width: calc(100% - $padding-5xl * 2);
  height: calc(100% - $padding-5xl - 44px);

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  background-color: $white;
  padding: $padding-5xl $padding-5xl 44px $padding-5xl;

  & .wrapper {
    margin-top: 26px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    & .page {
      width: 100%;
      height: 100%;
    }
  }
}
